@charset "utf-8";
/* CSS Document */

.panel{
	height:100vh;
	width:100vw;
	position:relative;
	display:block;
	float:left;
	position:absolute;
}
.page-one{
	background:#014245;
	left:0;
}
.page-two{
	background:#470002;
	left:100vw;
}
.page-three{
	background:#2f4400;
	left:200vw;
}
body {
    width: 100%;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
	top:0;
}
.nav-button{
	width:40px;
	height:40px;
	border-radius:30px;
	background:#ffffff;
	position:fixed;
	top:20px;
	opacity:0.2;
}
.nav-button:hover{
	cursor:pointer;
	opacity:0.5;
}
.nav-button{
	transition:2s ease;
	-webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
}
.one-go{
	right:10px;
	z-index:10;
}
.two-go{
	right:60px;
	z-index:10;
}
.three-go{
	right:110px;
	z-index:10;
}
.four-go{
	right:10px;
	z-index:10;
	top:70px;
}
.five-go{
	right:60px;
	z-index:10;
	top:70px;
}
.six-go{
	right:110px;
	z-index:10;
	top:70px;
}
.seven-go{
	right:10px;
	z-index:10;
	top:120px;
}
.eight-go{
	right:60px;
	z-index:10;
	top:120px;
}
.nine-go{
	right:110px;
	z-index:10;
	top:120px;
}
.row-one{
	top:0;
}
.row-two{
	opacity:0.8;
	top:100vh;
}
.row-three{
	opacity:0.6;
	top:200vh;
}
body{
	transition:2s ease;
	-webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
}
.current{
	background:#767474;
}
html{
	position:relative;
	widows: 100%;
	float:left;
}
.state{
	display: block;
	width:100%;
	float:left;
}
.state_1{
	top:0;
	left:0;
}
.state_4{
	top:-100vh;
	left:0;
}
.state_7{
	top:-200vh;
	left:0;
}
.state_2{
	top:0;
	left:-100vw;
}
.state_5{
	top:-100vh;
	left:-100vw;
}
.state_8{
	top:-200vh;
	left:-100vw;
}
.state_3{
	top:0;
	left:-200vw;
}
.state_6{
	top:-100vh;
	left:-200vw;
}
.state_9{
	top:-200vh;
	left:-200vw;
}
.state_1 .link_1{
	opacity:1;
}
.state_2 .link_2{
	opacity:1;
}
.state_3 .link_3{
	opacity:1;
}
.state_4 .link_4{
	opacity:1;
}
.state_5 .link_5{
	opacity:1;
}
.state_6 .link_6{
	opacity:1;
}
.state_7 .link_7{
	opacity:1;
}
.state_8 .link_8{
	opacity:1;
}
.state_9 .link_9{
	opacity:1;
}
